:root {
  font-family: 'Open Sans', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 500;

  color-scheme: light dark;
  color: var(--textColor);
  background: var(--background);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #a63532;
  text-decoration: inherit;
  text-decoration: inherit;
}
a:hover {
  color: #d55550;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  width: 100vw;
  height: 100vh;
  padding: 5rem;
  text-align: left;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--buttonBackground);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primaryColor);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.big-button {
  width: 100%;
  font-size: 1.3em;
}

@media only screen and (max-width: 800px) {
  .article {

  }
  #app {
    padding-left: 10px!important;
    padding-right: 10px!important;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--primaryColor);
  }
  button {
    background-color: #f9f9f9;
  }
}
